<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jinny Ch</title>
    <meta name="title" content="Jinny Ch">
    <meta name="description" content="My official blog.">
    <meta name="keywords" content="jinnych">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="nav">
      <a href="/" class="nav-a">
        <button class="nav-button">
          HOME
        </button>
      </a>
      <a href="/blog" class="nav-a">
        <button class="nav-button">
          BLOG
        </button>
      </a>
    </div>
  </body>
</html>
